<div class="masthead">
</div>

<div class="container-fluid main-container">
  <div class="row-fluid">
    <div class="span12 secondary-headers">
      <h2><%= @meta_forum.name %></h2>
      <h3 class="subheader"><%= @meta_forum.description %></h3>
    </div>
   
      <% @superforums.each do |superforum| %>
        <div class="span12">
          <h2><%= superforum.name %></h2>
          <h3><%= superforum.description %></h3>
          <div class="span10"><h4>Sub Forums:</h4></div>
            <% @subforums[superforum.name].each do |subforum| %>
              <div class="span10">   
                <font size="4"><b><%= link_to subforum.name, sub_forum_url(subforum) %></b>
                <%= subforum.description %> </font>
              </div> 
            <% end %>
        </div>
      <% end %>
  </div >
</div>
