<div id="index-nav-panel">
  <div id="index-nav-content">
    <h3><%= @meta_forum.name %> Forums </h3>
    <h4><%= @meta_forum.description %> </h4>
  </div>
</div>

<% @superforums.each do |superforum| %>
  Forum Name: <%= superforum.name %>
  <br>
  Forum Description: <%= superforum.description %>
  <br>
  Sub Forums:
  <ul>
    <% @subforums[superforum.name].each do |subforum| %>
    <li>
      <%= link_to subforum.name, sub_forum_url(subforum) %>
      <%= subforum.description %>
    </li>
    <% end %>
  </ul>
  
  <hr>
<% end %>