<h1><%= @meta_forum.name %> Forums </h1>
<h2> <%= @meta_forum.description %> </h2>

<% @superforums.each do |superforum| %>
  Forum Name: <%= link_to superforum.name , super_forum_url(superforum) %>
  <br>
  Forum Description: <%= superforum.description %>
  <br>
  Sub Forums:
  <ul>
    <% @subforums[superforum.name].each do |subforum| %>
    <li>
      <%= link_to subforum.name, sub_forums_url(subforum) %>
      <%= subforum.description %>
    </li>
    <% end %>
  </ul>
  
  <hr>
<% end %>