<div align="center">
<h4>Edit <%= @user.username %>'s Profile</h4>
  <%= form_for(@user_profile) do |f| %>
    <%= f.label :name, "Real Name" %>
    <%= f.text_field :name , :value => @user_profile.name %>
    <br>
    <%= f.label :birth_date, "Birth Date" %>
    <input type="date" name="user_profile[birth_date]">
    <br>
    <%= f.label :about_me, "About Me" %>
    <textarea  id="user_profile_about_me" name="user_profile[about_me]" rows="5"><%= @user_profile.about_me%></textarea>
    <br>
    <%= f.label :signature, "Signature" %>
    <textarea  id="user_profile_signature" name="user_profile[signature]" rows="2"><%= @user_profile.signature%></textarea>
    <br>
    <%= f.submit %>
  <% end %>
</div>