<h4> <%= @user.username %>'s profile </h4>

UserName: <%= @user.username %><br>
<%= image_tag @user_profile.avatar.url(:big) %><br>
Email: <%= @user.email %><br>
Real Name: <%= @user_profile.name %><br>
Location: <%= @user_profile.name %><br>
Birth Date: <%= @user_profile.birth_date %><br>
About Me: <%= @user_profile.about_me %><br>
Signature: <%= @user_profile.signature %>
<br>
<hr>
All Posts by this User:
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= post.title %><br>
      <%= post.content %>
    </li>
  <% end %>
</ul>

All Replies by this User:
<ul>
  <% @replies.each do |reply| %>
    <li>
      Post: <%= reply.post.title %><br>
      Reply: <%= reply.content %>
    </li>
  <% end %>
</ul>