<div class="container-fluid main-container">
  <div class="row">
    <div class="span5">
      <h3> <%= @user.username %>'s profile </h3>

      <% if current_user.id == @user.id %>
      <%= link_to "Edit your profile", edit_user_profile_url(@user) %>
      <% end %>
      <br>
      <%= image_tag @user_profile.avatar.url(:big) %><br>
      <b>UserName:</b> <%= @user.username %><br>
      <b>Email:</b> <%= @user.email %><br>
      <b>Real Name:</b> <%= @user_profile.name %><br>
      <b>Location:</b> <%= @user_profile.name %><br>
      <b>Birth Date:</b> <%= @user_profile.birth_date %><br>
      <b>About Me:</b> <%= @user_profile.about_me %><br>
      <b>Signature:</b> <%= @user_profile.signature %>
    </div>
    <div class="span5">
      <h3>All Posts by this User</h3>
      <ul>
        <% @posts.each do |post| %>
          <li>
            <%= link_to post.title, sub_forum_post_url(post.forum, post) %><br>
          </li>
        <% end %>
      </ul>

      <h3>All Replies by this User</h3>
      <ul>
        <% @replies.each do |reply| %>
          <li>
            <%= link_to reply.post.title, sub_forum_post_url(reply.post.forum, reply.post) %><br>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>  

