<h4> <%= link_to @metaforum.name, root_url %> > <%= @superforum.name %>  </h4>
<p> <%= @superforum.description %> <p>

<ul>
<% @subforums.each do |subforum| %>
<li>  
<h3> <%= link_to subforum.name, sub_forum_url(subforum) %> </h3>
  <ul>
  <% @posts_hash[subforum.name].each do |post| %>
  <li>
  <%= post.title %>
  </li>
  <% end %>
  </ul>
</li>
<% end %>
</ul>
