<h4> <%= link_to @metaforum.name, root_url %> > <%= link_to @parent.name, super_forum_url(@parent) %> > 
<%= @subforum.name %> </h4>

<%= link_to "New Post", new_sub_forum_post_url(@subforum) %>

<ul>
<% @posts.each do |post| %>
  <li>
  <%=link_to post.title, sub_forum_post_url(@subforum, post) %>
  </li>
<% end %>
</ul>