<div id='post-container'>
  <div id='post-content'>
    <%= @post.title %>
    <%= link_to @post.user.username, user_url(@post.user)%>
    <%= @post.content %>
  </div>

  <div class='reply-button-div'>
    <% if user_signed_in? %>
    <button class="reply-button">Reply to Post</button>
    <% else %>
    <%= link_to "Login to Reply", new_user_session_url %>
    <% end %>
  </div>

  <form action="/post/reply/new" method="post">
    <textarea cols='60' class="reply-content" name='reply[content]' rows="20"></textarea><br>
    <input type="hidden" name="reply[post_id]" value= <%= @post.id %> >
    <input type="hidden" name="reply[reply_id]" value= nil >
    <input type="submit"/>
  </form>

</div>