<div class="row">
  <div class="span2" align="center">
    <!-- <div id="post-profile" align="center" > -->
      <%= image_tag @post.user.user_profile.avatar.url(:thumb) %><br>
      <%= link_to @post.user.username, user_profile_url(@post.user)%>
    <!-- </div> -->
  </div>
  <div class="span9">
    <!-- <div class='post-container'> -->
      <div>  
        <h4><%= @post.title %></h4>
      </div>
      <div class="row" style="margin-left: 3px;">  
        <div class="span3"><font color="gray">Posted: <%= date_parse(@post.created_at) %></font></div>
        <div class="span1" style="margin-left: 40px;"><i class="icon-arrow-up" id="post-upvote"></i></div>
        <div class="span1" style="margin-left: -30px;"><i class="icon-arrow-down" id="post-downvote"></i></div>
        <div class="span3" style="margin-left: -30px;"><font color="gray">Upvotes: <span id="upvotes"><%= @post.get_upvotes %></span></font> </div>
      </div>
      <div id='post-content' style="padding: 15px;">
        <%= @post.content %>
      <!-- </div> -->
      </div>
  </div>
  <div class="span2 offset2">
     <!-- <div class='post-reply-button-form-div'> -->
      <!-- <div class='reply-button-div'> -->
        <% if user_signed_in? %>
        <button class="btn btn-mini reply-post-button">Reply</button>
        <% else %>
        <%= link_to "Login to Reply", new_user_session_url %>
        <% end %>
      <!-- </div> -->
      <form action="/post/reply/new" method="post" id="post-reply-form">
        <textarea rows="6" class="reply-content" name='reply[content]'></textarea><br>
        <input type="hidden" name="reply[post_id]" value= <%= @post.id %> >
        <input type="hidden" name="reply[reply_id]" value= nil >
        <input class="btn btn-success submit-button" type="submit"/>
      </form>
    <!-- </div> -->
  </div>
</div>

<script>

  $(document).ready(function(){

    var user_signed_in_js = false
    <% if user_signed_in? %>
      user_signed_in_js = true
    <% end %>

    $('.icon-arrow-up').addClass("gray-arrow")
    $('.icon-arrow-down').addClass("gray-arrow")

      $(".icon-arrow-up").on('click', function(){
        if(user_signed_in_js){
          $('.icon-arrow-up').toggleClass("gray-arrow")
          $('.icon-arrow-up').toggleClass("green-arrow")

          $.ajax({
            url: '/post_upvotes',
            data: { user_id: <%= current_user.id %>, post_id: <%= @post.id %> },
            success: function(data){
              $("#upvotes").html(data)
            }
          })

        }else{
          alert('You must be signed in to upvote')
        }
      })

      $(".icon-arrow-down").on('click', function(){
        if(user_signed_in_js){
          $('.icon-arrow-down').toggleClass("gray-arrow")
          $('.icon-arrow-down').toggleClass("red-arrow")
          
          
        }else{
          alert('You must be signed in to downvotes')
        }
      })
    
  })
</script>

