<div class="row">
  <div class="span2" align="center">
    <!-- <div id="post-profile" align="center" > -->
      <%= image_tag @post.user.user_profile.avatar.url(:thumb) %><br>
      <%= link_to @post.user.username, user_profile_url(@post.user)%>
    <!-- </div> -->
  </div>
  <div class="span9">
    <!-- <div class='post-container'> -->
      <div>  
        <h4><%= @post.title %></h4>
      </div>
      <div class="row" style="margin-left: 3px;">  
        <div class="span3"><font color="gray">Posted: <%= date_parse(@post.created_at) %></font></div>
        <div class="span1" style="margin-left: 40px;"><i class="icon-thumbs-up"></i></div>
        <div class="span1" style="margin-left: -30px;"><i class="icon-thumbs-down"></i></div>
        <div class="span3" style="margin-left: -30px;"><font color="gray">Upvotes: <%= @post.upvotes %></font> </div>
      </div>
      <div id='post-content' style="padding: 15px;">
        <%= @post.content %>
      <!-- </div> -->
      </div>
  </div>
  <div class="span2 offset2">
     <!-- <div class='post-reply-button-form-div'> -->
      <!-- <div class='reply-button-div'> -->
        <% if user_signed_in? %>
        <button class="btn btn-mini reply-post-button">Reply</button>
        <% else %>
        <%= link_to "Login to Reply", new_user_session_url %>
        <% end %>
      <!-- </div> -->
      <form action="/post/reply/new" method="post" id="post-reply-form">
        <textarea rows="6" class="reply-content" name='reply[content]'></textarea><br>
        <input type="hidden" name="reply[post_id]" value= <%= @post.id %> >
        <input type="hidden" name="reply[reply_id]" value= nil >
        <input class="btn btn-success submit-button" type="submit"/>
      </form>
    <!-- </div> -->
  </div>
</div>