<p> <%= link_to MetaForum.first.name, root_url %> > 
     <%= link_to @parent.name, super_forum_url(@parent) %> > 
     <%= link_to @sub_forum.name, sub_forum_url(@sub_forum) %>  <p>

<h4> Create a New Post </h4>

<%= form_for(@post) do |f| %>
Title: <br> <%= f.text_field :title %><br>
Content: <br><%= f.text_area(:content, :cols=>60, :row=>40) %>
<input type="hidden" name="sub_forum_id" value= <%= @sub_forum.id %> />
<br>
<%= f.submit %>
<% end %>