<div class="container-fluid main-container">
  <div class="row-fluid">
    <div class="forum-nav-panel">
        <h4><%= link_to @metaforum.name, root_url %> > <%= link_to @sub_forum.parent.name, super_forum_url(@sub_forum.parent) %> >
        <%= link_to @sub_forum.name, sub_forum_url(@sub_forum) %></h4>
    </div>

    <%= render partial: 'toppost' %>

    <div id='replies'>
      <% @directreplies.each do |reply| %>
        <%= render partial: 'reply', :locals => { :reply => reply, :replies => @replies} %>
      <% end %>
    </div>

  </div>
</div>

  <script>

  $(document).ready(function(){
    $("form").hide()
    $(".reply-button").on('click', function(){
      $(this).hide()
      $("#post-reply-form").slideDown()
    })

  })
  </script>
