<p> <%= link_to MetaForum.first.name, root_url %> >
     <%= link_to @parent.name, super_forum_url(@parent) %> >
     <%= link_to @sub_forum.name, sub_forum_url(@sub_forum) %>  <p>

<h4> <%= @post.title %> </h4>
<%= link_to @post.user.username, user_url(@post.user)%>
<p> <%= @post.content %> </p><br>

<% if user_signed_in? %>
<button id="reply-button">Reply to Post</button>
<% else %>
<%= link_to "Login to Reply", new_user_session_url %>
<% end %>

<div id="reply-form">
  <form id='new-reply=form'>
    <label for="reply_content">Message</label><br>
    <textarea cols='60' id="reply-content" name='reply[content]' rows="20"></textarea><br>
    <input type="button" id="submit-button" value="Submit" />
  </form>
</div>

<hr>
<div id='replies'>
  <% @replies.each do |reply| %>
  <%= reply.content %> <br>
  <%= link_to reply.user.username, user_url(reply.user) %>
  <% end %>
</div>

<script>
var userJson = <%= current_user.to_json.html_safe %>
$(document).ready(function() {
  var current_user_name = userJson['username']
  var current_user_id = userJson['id']
  $('#reply-form').hide()

  $('#reply-button').on('click', function() {
    $("#reply-form").show()
    $('#reply-button').hide()
    $('#submit-button').on('click', function(){
    $("#reply-content").empty()
    var $form = $(this);
    var post_id = <%= @post.id %>
    var content = $("#reply-content").val()

    var success_callback = function(data){
      var content = data['content'];
      var user_id = data['user_id'];
      var user_link = "<a href=/users/"+current_user_id+">"+current_user_name+"</a>"
      var reply_post = $("<div>"+user_link+content+"</div>")
      $("#replies").append(reply_post);
    };
    $.ajax({
      type: "POST",
      url: "/post/reply/new",
      data: {'content' : content, 'post_id' : post_id  },
      success: success_callback
    })
  });
  });



});
</script>

