<p> <%= link_to MetaForum.first.name, root_url %> >
     <%= link_to @parent.name, super_forum_url(@parent) %> >
     <%= link_to @sub_forum.name, sub_forum_url(@sub_forum) %>  <p>

<%= render partial: 'toppost' %>

<hr>
<div id='replies'>
  <% @replies.each do |reply| %>
    <%= render partial: 'reply', :locals => { :reply => reply } %>
  <% end %>
</div>


<script>

var userJson = <%= current_user.to_json.html_safe %>

$(document).ready(function() {
  if (userJson){
    var current_user_name = userJson['username']
    var current_user_id = userJson['id']    
  }

  $('.reply-post-form').hide()

  $('.reply-button').on('click', function() {
    $(this).parent().next().show()
    $(this).hide()
    $(this).parent().next().children('.submit-button').on('click',
      function(){
        var post_reply_id = $(this).parent().attr('data-id')
        var content = $(this).parent().children('textarea').val()
        $(this).parent().children('textarea').val("")
      })
  })


  //   $('#reply-button').hide()
  //   $('#submit-button').on('click', function(){
  //   $("#reply-content").empty()
  //   var $form = $(this);
  //   var post_id = <%= @post.id %>
  //   var content = $("#reply-content").val()

  //   var success_callback = function(data){
  //     var content = data['content'];
  //     var user_id = data['user_id'];
  //     var user_link = "<a href=/users/"+current_user_id+">"+current_user_name+"</a>"
  //     var reply_post = $("<div>"+user_link+content+"</div>")
  //     $("#replies").append(reply_post);
  //   };
  //   $.ajax({
  //     type: "POST",
  //     url: "/post/reply/new",
  //     data: {'content' : content, 'post_id' : post_id  },
  //     success: success_callback
  //   })
  // });
  // }




});
</script>

