<p> <%= link_to MetaForum.first.name, root_url %> >
     <%= link_to @parent.name, super_forum_url(@parent) %> >
     <%= link_to @sub_forum.name, sub_forum_url(@sub_forum) %>  <p>

<h4> <%= @post.title %> </h4>
<%= @post.user.username %>
<p> <%= @post.content %> </p><br>


<% if user_signed_in? %>
<button id="reply-button">Reply to Post</button>
<% else %>
<%= link_to "Login to Reply", new_user_session_url %>
<% end %>

<div id="reply-form">
  <form action="http://localhost:3000/post/reply/new" id='new-reply=form'>
    <label for="reply_content">Message</label><br>
    <textarea cols='60' id="reply_content" name='reply[content]' rows="20"></textarea><br>
    <input type="submit" value="Submit" />
  </form>
</div>


<!-- <form action="http://localhost:3000/post/reply/new" id="new_reply" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="neScB2rdwZjYS2Vfk+xAtp+wLW+YMWbsOdCGoPjdFmM="></div>
  <label for="reply_content">Message</label><br>
  <textarea cols="60" id="reply_content" name="reply[content]" row="20" rows="20"></textarea>
  <input type="hidden" name="post_id" value="1"><br>
  <input id='submit-button' name="commit" type="submit" value="Create Reply">
</form> -->

<hr>
<div id='replies'>
  <% @replies.each do |reply| %>
  <%= reply.content %> <br>
  <%= reply.user.username %>
  <% end %>
</div>

<script>
$(document).ready(function() {
  $('#reply-form').hide()

  $('#reply-button').on('click', function() {
    $("#reply-form").show()
    $('#reply-button').hide()
  });

  // $('#submit-button').on('click', function(){
  //   var $form = $(this);
  //   var term = $form.find('input[name="reply[content]"]').val(),
  //   var url = $form.attr('action');

  //   var posting = $.post(url, { reply[content] : term });

  //   posting.done(function(data){
  //     var content = $(data).find('#content');
  //     $("#result").empty().append(content);
  //   });
  // });

});
</script>

